<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
    {% if 'items' in v_response %}
       {% for item in v_response['items'] %}
            {% if 'videoId' in item['id'] %}
            <div class="col-md-auto">
                <iframe width="280" height="150" 
                src="https://www.youtube.com/embed/{{ item['id']['videoId'] }}"
                framebolder="0" allowfullscreen></iframe>
                <h4>{{ item['snippet']['title'] }}</h4>
            </div>
            {% endif %}
       {% endfor %}
    {% endif %}
</body>
</html>